<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .fieldError {
        border-color: #bd2130;
    } </style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div th:object="${myInfo}">
        <div class="form-group">
            <label th:for="memberEmail">이메일</label>
            <input type="text" th:field="*{memberEmail}" class="form-control" placeholder="이메일을 입력하세요"
                   th:class="${#fields.hasErrors('memberEmail')}? 'form-control fieldError' : 'form-control'" readonly>
            <p th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="memberName">이름</label>
            <input type="text" th:field="*{memberName}" class="form-control" placeholder="이름을 입력하세요">
        </div>
    </div>

    <!--내가 찜한 글-->
    <div>
        <h4>내가 찜한 글</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일자</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="board : ${bookMark}">
                <td th:text="${board.id}"></td>
                <td><a href="#" th:href="@{/boards/{id} (id=${board.id})}" th:text="${board.title}"></a></td>
                <td th:text="${board.writerName}"></td>
                <td th:text="${board.createdDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--내가 작성한 글-->
    <div>
        <h4>내가 작성한 글</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일자</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td><a href="#" th:href="@{/boards/{id} (id=${board.id})}" th:text="${board.title}"></a></td>
                <td th:text="${board.writerName}"></td>
                <td th:text="${board.createdDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>