<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .fieldError {
        border-color: #bd2130;
    } </style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form id="loginForm" role="form" action="/members/new" th:object="${memberSignInRequest}" method="post" content="application/json">
        <div class="form-group">
            <label th:for="memberEmail">이메일</label>
            <input id="memberEmail" type="text" th:field="*{memberEmail}" class="form-control" placeholder="이메일을 입력하세요"
                   th:class="${#fields.hasErrors('memberEmail')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="memberPw">비밀번호</label>
            <input id="memberPw" type="password" th:field="*{memberPw}" class="form-control" placeholder="비밀번호를 입력하세요">
        </div>
        <input type="button" class="btn btn-primary" onclick="signIn()">로그인</input>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
<script>

    function signIn() {
        var memberEmail = $("#memberEmail").val();
        var memberPw = $("#memberPw").val();
        var sendData = {"username" : memberEmail, "password": memberPw};
        $.ajax({
            type: "POST",
            url: "/login",
            dataType: 'json',
            data: JSON.stringify(sendData),
            contentType: "application/json",
            success : function(result) {
                console.log(result)
            }
        })
    }

</script>
</body>
</html>