<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .fieldError {
        border-color: #bd2130;
    } </style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div th:object="${board}">
        <form th:action="@{/boards/{id} (id=${board.id})}" th:method="delete" style="float: right;">
            <button type="submit" class="btn btn-dark">삭제</button>
        </form>
        <a href="#" th:href="@{/boards/{id}/edit (id=${board.id})}" class="btn btn-secondary" style="float: right;">수정</a>
        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요"
                       th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'" readonly>
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <input type="text" th:field="*{content}" class="form-control" style="height: 20em;" readonly>
        </div>
        <input id="boardId" type="hidden" th:value="${board.id}">
    </div>

    <!--찜하기-->
    <form th:action="@{/bookmark/mark}" th:object="${bookmark}" method="post">
        <input  type="hidden" th:for="boardId" th:field="*{boardId}" th:value="${board.id}">
        <input  type="hidden" th:for="memberId" th:field="*{memberId}" th:value="${board.writerDto.memberId}">
        <button type="submit" class="btn btn-primary btn-info" style="float: right;">찜하기</button>
        <!--        <input class="btn btn-primary" type="button" onclick="createComment()">등록</input>-->
    </form>
<br>
<br>
<br>
    <!--댓글 등록-->
    <form th:action="@{/boards/{boardId}/comments/new (boardId=${board.id})}" th:object="${commentCreateRequest}" method="post">
        <input id="comment" type="text" th:for="content" th:field="*{content}" placeholder="댓글 남기기" class="form-control">
        <button type="submit" class="btn btn-primary form-control">등록</button>
        <!--        <input class="btn btn-primary" type="button" onclick="createComment()">등록</input>-->
    </form>
    <br>
    <br>
    <!--댓글 목록-->
    <div id="comments">
        <table class="table table-striped">
            <tbody>
            <tr th:each="comment : ${board.getComments()}">
                <td th:text="${comment.content}"></td>
                <td th:text="${comment.writerDto.memberName}"></td>
                <td th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>
<script>
    const boardId = $("#boardId").val();
    var token = localStorage.getItem("accessToken")
    localStorage.setItem("accessToken", token)
    alert(token)
    // function addComment() {
    //     var url = "/boards/"+boardId+"/comments/new";
    //     axios.post(url, JSON.stringify(sendData), {
    //         headers: { "Content-Type": `application/json`}
    //     })
    //         .then(function (response) {
    //         console.log(response.headers)
    //             window.location.replace("/");
    //     })
    // }
</script>
</body>
</html>